In [9]:
import pandas as pd
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
df = pd.DataFrame(technologies)
print("Create DataFrame:\n", df)

Create DataFrame:
    Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

As I said above groupby() function returns DataFrameGroupBy object after collecting the identical data into groups from pandas DataFrame. To perform several operations on DataFrameGroupby object using sum(), mean() e.t.c.

Let’s apply the groupby() function along with the sum() function to perform the sum operation on grouped data.

In [10]:
# Use groupby() to compute the sum
df2 =df.groupby(['Courses']).sum()
print("Get sum of grouped data:\n", df2)

Get sum of grouped data:
            Fee      Duration  Discount
Courses
Hadoop   48000  55days35days    1000.0
NA        1500        40days       0.0
Pandas   26000        60days    2500.0
PySpark  25000        50days    2300.0
Python   46000  40days50days    2800.0
Spark    47000  30days30days    2400.0

Most of the time we would need to perform groupby on multiple columns of DataFrame, you can do this by passing a list of column labels you want to perform groupby on.

In [3]:
# Group by multiple columns
df2 =df.groupby(['Courses', 'Duration']).sum()
print("Get sum of groupby multiple columns:\n", df2)

Get sum of groupby multiple columns:
                     Fee  Discount
Courses Duration
Hadoop  35days    25000       0.0
        55days    23000    1000.0
NA      40days     1500       0.0
Pandas  60days    26000    2500.0
PySpark 50days    25000    2300.0
Python  40days    24000    1200.0
        50days    22000    1600.0
Spark   30days    47000    2400.0

Add Index to the grouped data

By default groupby() function doesn’t return the row Index, you can add the index using the DataFrame.reset_index() method.

Related: You can group the Pandas DataFrame by index.

In [11]:
# Add Row Index to the group by result
df2 = df.groupby(['Courses','Duration']).sum().reset_index()
print("After adding index to DataFrame:\n", df2)

After adding index to DataFrame:
    Courses Duration    Fee  Discount
0   Hadoop   35days  25000       0.0
1   Hadoop   55days  23000    1000.0
2       NA   40days   1500       0.0
3   Pandas   60days  26000    2500.0
4  PySpark   50days  25000    2300.0
5   Python   40days  24000    1200.0
6   Python   50days  22000    1600.0
7    Spark   30days  47000    2400.0

You can also choose whether to include NA/None/Nan in group keys or not by setting dropna parameter. By default the value of dropna set to True. So, it does not include None/Nan values on the group keys set dropna=False parameter.

In [12]:
# Drop rows that have None/Nan on group keys
df2=df.groupby(by=['Courses'], dropna=False).sum()
print(df2)

           Fee      Duration  Discount
Courses
Hadoop   48000  55days35days    1000.0
NA        1500        40days       0.0
Pandas   26000        60days    2500.0
PySpark  25000        50days    2300.0
Python   46000  40days50days    2800.0
Spark    47000  30days30days    2400.0

Add some sorting

In [14]:
# Sorting group keys on descending order
groupedDF = df.groupby('Courses',sort=False).sum()
sortedDF=groupedDF.sort_values('Discount', ascending=False)
print(sortedDF)

           Fee      Duration  Discount
Courses
Python   46000  40days50days    2800.0
Pandas   26000        60days    2500.0
Spark    47000  30days30days    2400.0
PySpark  25000        50days    2300.0
Hadoop   48000  55days35days    1000.0
NA        1500        40days       0.0